@model IEnumerable<QuizListModel>
@{
  ViewData["Title"] = "List";
}
<div>
  <h2>Available Exams</h2>
  <p>
    Select an exam from the list below. There is no time limit to take the exam, nor maximum attempts. When you do pass,
    you'll be provided a link to a certificate you may open and print out. If you provide an email address, you'll receive
    a notice of your successfull attempt.
  </p>
  <ul>
    @foreach (var item in Model)
    {
      <li>
        @if (item.Enabled)
        {
          <div class="d-flex flex-column flex-sm-row" id="course-@item.RecordsId.ToString().ToLowerInvariant()"><a href="/exams/@item.Id">@item.Title</a></div>
        }
        else
        {
          @item.Title
        }
      </li>
    }
  </ul>
</div>